.App {
    height: 100%;
    width: 100%;
  }
  
  
  body {
    margin: 0;
    padding: 0;
  }

.markerButtons {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
}